<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>prueba.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11E6AAEA1CECE8A8006A3721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11E6AB031CECE8A8006A3721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11E6AB0E1CECE8A8006A3721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
